/* Подключаем разные начертания шрифта */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto--Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}

/* Применяем шрифт глобально */
body {
  font-family: 'roboto';
  font-weight: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  background-color: rgb(160, 160, 255);

  padding: 48px 0 24px;

  overflow: hidden;

  height: 100%;

  position: relative;
}

button {
  border: none;
  background-color: transparent;
}

.main {
  padding: 148px 0 0 24px;
  border: 1px solid red;
}
